/* File: styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #add8e6; /* Background biru muda */
    color: #121212;
}

.video-container {
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
}

.video-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #121212;
}

video {
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    outline: none;
    margin-bottom: 20px;
}
